#tabs-tabbar-container {
    margin-left: calc(14.5vw);
    margin-right: 40px;
    transition: all .5s;
    padding-top: 0 !important;
}

#browser:has(.toolbar-mailbar:not(.toolbar-hidden)) #tabs-tabbar-container {
    margin-left: 47rem;
    margin-right: -50px;
}

.win.normal .tab-group-indicator {
    top: -2px;
}

.win.normal #titlebar:not(.tabless) {
    top: -5px;
}

.UrlBar-SearchField,
.Searchfield {
display: none !important;
}

.UrlBar-AddressField {
    width: 17vw;

    /* added animation for extending and reducing the width */
    transition: .2s ease-in-out !important;
}

.UrlBar-AddressField .ContentBlocker-Control {
    display: none;
}

.OmniDropdown {
    margin-top: -3px;
}

.mainbar .toolbar-mainbar:not(.toolbar-wrap .toolbar-droptarget) {
    position: absolute;
    top: 0;
    left: 0px !important;
    height: 30px;
    border-radius: 10px;
}

.mainbar .toolbar-mainbar {
    background: var(--colorBg) !important;
    border-bottom: none !important;
}

.mainbar .toolbar-mainbar::before,
.mainbar .toolbar-extensions::before {
    display: none;
}

.win.normal .mainbar .toolbar-mainbar {
    left: unset;
    right: unset;
}

.mainbar .toolbar-mailbar {
    width: 45rem;
}

.toolbar-mailbar .button-toolbar[title*="Seite"] {
    display: none;
}

.toolbar-extensions {
    position: absolute !important;
    transform: translate(-100%);
    background-color: var(--colorBg) !important;
    left: calc(100vw - 0px) !important;
    height: 30px !important;
    right: unset !important;

}

.window-buttongroup {
    height: 35px;
}

#browser:not(.is-settingspage) #main {
    position: unset;
}

#header {
    height: 30px;
    min-height: unset !important;
}

.vivaldi {
    height: 34px;
    max-height: 34px;
    width: 34px;
    margin-top: 3px;
    border-radius: var(--radius) !important;
}

.vivaldi:hover {
    background-color: var(--colorAccentBgDark) !important;
}

.vivaldi .expand-arrow {
    display: none;
}

#browser.popup #header {
    height: 35px !important;
    background: var(--colorBg) !important;
}

#browser.popup .UrlBar-AddressField,
#browser.popu .UrlBar-AddressField:focus-within {
    width: 40vw !important;
}

#browser.popup .window-buttongroup button {
    height: 35px !important;
}

#browser.popup .toolbar-extensions {
    left: calc(100vw - 175px) !important;
}

button.vivaldi,.toggle-trash { display: none !important;}
#browser.win .window-buttongroup { display: none;}
.UrlBar-UrlObfuscationWarning { display: none !important;}
.SiteInfoButton  { display: none;}
.toolbar-insideinput.toolbar-inside  { display: none !important;}
/* .toolbar-extensions { display: none;} */
.UrlBar-AddressField:focus { outline: none !important; border: none !important;}
.UrlBar-AddressField:not(:focus) { outline: none !important; border: none !important;}
.toolbar-insideinput.toolbar-insideinput.toolbar-insideinput > .button-toolbar button  { display: none !important;  } /*ei kilpee tai lukulistaa*/
.tabs-right > #header {display: none;}
.BookmarkButton { display: none; }

#browser,
#browser+div,
#browser+div+div,
#browser button,
#browser input,
#browser select,
#browser textarea {
    font-family: ReadexPro, BeVietnamPro, Outfit, Rubik, system-ui, sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.0;
}


/* resize bookmark tab */
.bookmark-bar {
    height: 24px !important;
} 

.address-top .mainbar > .toolbar-mainbar {
    border-bottom: none !important;
  }
